.rows {

    width: 10em;
    border: thin solid;

}

.display {

    height: 2em;

}

button {

    width: 25%;
    height: 3em;
    font-weight: bold;
    border: thin solid;
}

.number-buttons {

    background-color: yellow;

}

.erase-buttons {

    background-color: lightblue;

}

.operation-buttons {

    background-color: red;

}

.decimals-button {

    width: 25%;
    background-color: gray;

}
.equal-button {

    width: 75%;
    background-color: green;

}

