html, body {

    height: 100%
}

body {

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rows {

    width: 300px;
    height: 60px;
    border: thin solid;

}

.display {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: white;
    word-break: break-all;
    min-height: 60px;
    height: auto;
    
}

button {

    width: 25%;
    height: 100%;
    font-weight: bold;
    font-size: xx-large;
    border: thin solid;
}

.number-buttons {

    background-color: yellow;

}

.erase-buttons {

    background-color: lightblue;

}

.operation-buttons {

    background-color: red;

}

.decimals-button {

    width: 25%;
    background-color: gray;

}

.equal-button {

    width: 75%;
    background-color: green;

}